@model ContentFolderViewModel

<div class="block span12">
    <h4>
        <strong @Html.EditAttributes(m => m.CurrentFolder.Name)>
            @Html.DisplayFor(m => m.CurrentFolder.Name)
        </strong> folder contains @Model.ItemsCount items.
    </h4>
</div>
