@model AlloyTraining.Models.ViewModels.IPageViewModel<AlloyTraining.Models.Pages.SitePageData>
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<div class="row">
    <div class="span4">
        @Html.Partial("_LeftNavigationMenu", Model)
        @RenderSection("_LeftNavigationMenu", required: false)
    </div>
    <div class="span8">
        @RenderBody()
    </div>
</div>
