@using AlloyTraining.Models.ViewModels
@model IPageViewModel<AlloyTraining.Models.Pages.StartPage>

<h1 @Html.EditAttributes(m => m.CurrentPage.Heading)>
    @(Model.CurrentPage.Heading ?? Model.CurrentPage.Name)
</h1>

@Html.PropertyFor(m => m.CurrentPage.MainBody)